:root {
  --color-primary: #c3073f;
  --color-secondary: #950740;
  --color-tertiary: #6f2232;
  --color-primary-darker: #1a1a1d;
  --color-secondary-darker: #4e4e51;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.navbar {
  text-align: center;
  background-color: #1a1a1d;
  height: 10vh;
}

.logo {
  height: auto;
  width: 15%;
  left: 0;
  top: 0;
  position: absolute;
  margin: 5%;
  transition-property: transform;
  transition-duration: 1s;
}
.my-page {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #1a1a1d;
  color: white;
}

.my-page h1 {
  margin: 10%;
}
.my-page p {
  margin-top: 2%;
  margin-bottom: 4%;
}
#erik-vector {
  width: 50%;
  height: auto;
}
.myButton {
  background-color: transparent;
  border: 1px solid;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 14px 13px;
  margin-top: 25%;
}
.myButton:hover {
  font-weight: 900;
}
.stapel:last-of-type {
  margin-bottom: 10vh;
}
#secondPage {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  color: var(--color-primary-darker);
  text-align: center;
}
#secondPage h1 {
  padding-top: 15%;
  color: #1a1a1d;
  background-color: white;
}
#secondPage h2 {
  color: #1a1a1d;
  background-color: white;
  text-decoration: underline;
}
#secondPage p {
  margin-top: 5%;
  font-weight: 600;
  text-align: start;
}
.stapel {
  display: inline-block;
  width: 60%;
  height: 15px;
  background-color: lightgrey;
  border: 2px black solid;
  border-radius: 16px;
  margin-top: 7%;
}
.ifylldstapel1 {
  border-radius: 16px;
  display: block;
  width: 0%;
  height: 100%;
  background-color: #6f2232;
}

#thirdPage {
  background-color: #1a1a1d;
  color: white;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

#thirdPage h1 {
  padding-top: 15%;
  padding-bottom: 10%;
}

.skill {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: #1a1a1d 2px solid;
  margin-top: 10%;
}
.egenskap-container {
  width: 50%;
  height: auto;
  text-align: center;
  display: inline-block;
  margin: 5%;
  transition: transform 1s, opacity 1s;
}
.egenskap-container img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 800px) {
  .my-page h1 {
    margin: 2%;
  }
  .myButton {
    margin-top: 0%;
  }
  #erik-vector {
    max-width: 20%;
  }
  .logo {
    max-width: 6%;
    margin: 1%;
  }
  #secondPage {
    text-align: center;
  }
  #secondPage h1 {
    padding-top: 5%;
    font-size: 350%;
  }
  #secondPage h2 {
    font-size: 200%;
  }
  .skill-container {
    display: inline-block;
    width: 25%;
    height: auto;
  }
  .skill {
    width: 40%;
  }
  .stapel {
    margin-top: 4%;
  }
  #thirdPage h1 {
    padding-top: 5%;
    font-size: 350%;
    padding-bottom: 2%;
  }
  .egenskap-container {
    display: inline-block;
    width: 40%;
    height: 45vh;
    margin: 0 0 5% 0;
    padding: 0;
  }
  .egenskap-container img {
    width: 75%;
    height: 80%;
  }
}
.hidden {
  opacity: 0;
  transform: translateX(8rem);
}
